/* redid the entirety of the homepage in honor of the comment left on my homepage assignment, the CSS and JS will be modeled after whats in the professor's 242 repo + old projects when applicable.*/
/* if anything is implemented that I asked AI how to implement, it will be mentioned in comments above the code */
/* if anything not mentioned in any other assignment is implemented, such as a new page, it will be mentioned in a comment above it in the code */
:root {
    --background:#ffff;
    --headings:#ffff;
    --foot:#ffff;
    --mnav:#ffff;
    --hero:#ffff;
    --highlightbg:#ffff;
    --highlightfg:#ffff;
    --cardsbg:#ffff;
    --cardsb:#ffff;
    --muteddetail:#ffff;
    --lightxt:#ffff;
    --footercop:#ffff;
    --accenttest:#ffff;
    --stext:#ffff;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:var(--stext); /* in early builds bg colors and other colors will be done like this so that i can test colorschemes in devtools without getting lost*/
    padding:0px;
    margin:0px;
}

#mainhead {
    background-color: var(--background);
    position: relative;
}

#hero {
    position:relative; 
}

#heroimg {
    display:block;
}

#page-title {
    color: var(--headings);
    margin: 22px 0 12px;
    padding: 8px 0 8px 14px;
    border-left: 6px solid var(--headings);
    font-size: 1.7em;
}

#mnav {
    background: var(--mnav);
    padding: 12px 0;
}

#mnav li {
    background-color: var(--mnav);
    padding: 16px 5px;
    border-bottom: 1px solid var(--stext);
    text-align: center;
    font-size: 20px;
}

#mainheader {
    text-align: center;
    padding:70px 0 20px;
    margin:0;
}

h1, h2, h3 {
    color:#000000;
}

.mobilecolumns {
    display:flex;
    flex-wrap: wrap;
}

.link {
    background:teal;
    color:rgb(251, 251, 251);
}

@media (min-width: 1000px) {
    #content {
        width:80%;
        margin:auto;
    }

    .columns {
        display:flex;
    }

    .projects {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        padding: 20px 0 40px;
    }

    .project-card {
        margin-bottom:0;
        min-height:200px;
    }
    
    #main-nav li {
        flex:1;
        border:0;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4
    }

    .five {
        flex:5;
    }

    .six {
        flex:6;
    }
}