/* redid the entirety of the homepage in honor of the comment left on my homepage assignment, the CSS and JS will be modeled after whats in the professor's 242 repo + old projects when applicable.*/
/* if anything is implemented that I asked AI how to implement, it will be mentioned in comments above the code */
/* if anything not mentioned in any other assignment is implemented, such as a new page, it will be mentioned in a comment above it in the code */
:root {
    --background:#ffff;
    --headings:#ffff;
    --foot:#ffff;
    --mnav:#ffff;
    --hero:#ffff;
    --highlightbg:#ffff;
    --highlightfg:#ffff;
    --cardsbg:#ffff;
    --cardsb:#ffff;
    --muteddetail:#ffff;
    --lightxt:#ffff;
    --footercop:#ffff;
    --accenttest:#ffff;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ea2222; /* in early builds bg colors and other colors will be done like this so that i can test colorschemes in devtools without getting lost*/
    padding:0px;
    margin:0px;
}

#mainhead {
    background-color: #000000;
    position: relative;
}

#hero {
    position:relative; 
}

#heroimg {
    display:block;
}

#page-title {
    color: #000000;
    margin: 22px 0 12px;
    padding: 8px 0 8px 14px;
    border-left: 6px solid #000000;
    font-size: 1.7em;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    padding:15px;
}

.projectcard {
    background: var(--cardsbg);
    border: 2px solid var(--cardsb);
    box-shadow: 4px 4px 0 var(--cardsb);
    margin-bottom:18px;
    position:relative;
}

#mainheader {
    text-align: center;
    padding:70px 0 20px;
    margin:0;
}

h1, h2, h3 {
    color:#000000;
}

.mobilecolumns {
    display:flex;
    flex-wrap: wrap;
}

.link {
    background:teal;
    color:rgb(251, 251, 251);
}




